<h1><%= @game.name %></h1>
<h3><%= @game.genre %> game released in <%= @game.release_year %> by <%= @game.publisher %> for the <%= @game.platform.split(', ').to_sentence %></h3>
<br>
<%= image_tag(@game.image) %>
